
<div class="container" style="padding-top:90px">
    <div class="row">
      <h1>Dashboard</h1>
      <div *ngIf="slideProduk">
        <carousel [interval]="carouselInterval" [noWrap]="noWrapSlides">
          <slide *ngFor="let slide of slideProduk" [active]="slide.active">
            <a [routerLink]="['/detail-produk',slide.kode_produk]">
              <img [src]="slide.gambar" class="img-responsive center-block">
            </a>
            <div class="carousel-caption">
              <p>{{slide.nama_produk}}</p>
            </div>
          </slide>
        </carousel>
      </div>
    </div>
</div>
