
  <div class="container" style="padding-top:50px">
    <h2>{{title}}</h2>
    <div *ngIf="detailProduk">

      <!--BAGIAN GAMBAR DAN DETIL PRODUK-->
      <div class="row">
        <h2>{{detailProduk.nama_produk}}</h2>
        <div class="col-sm-4">
          <img [src]="detailProduk.gambar" class="img-responsive center-block"/>
        </div>
        <div class="col-sm-4">
          <label>Harga: Rp.{{harga}}</label><br>
          <label>Deskripsi Produk: </label>{{detailProduk.deskripsi_produk}}
        </div>
        <div class="col-sm-4">

          <template #popTemplate>
            <select class="form-control" id="sel1" [(ngModel)]="selectedValue">
              <option *ngFor="let number of numbers" [value]="number">{{number}}</option>
            </select>
            <button type="button" class="btn btn-primary" (click)="addToCart(selectedValue,detailProduk.kode_produk)" [routerLink]="['/pesanan']">Ok</button>
          </template>
          <button type="button" class="btn btn-primary" [popover]="popTemplate" popoverTitle="Kuantitas Barang" placement="bottom">
            Masukkan ke Pesanan
          </button>

            <button type="button" class="btn btn-primary" (click)="addToWishlist(detailProduk.kode_produk,'cendzpm@gmail.com');daftarKeinginanModal.show()">Tambahkan ke Keinginan</button>
            <div bsModal #daftarKeinginanModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title pull-left">Wishlist</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="daftarKeinginanModal.hide()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    {{detailProduk.nama_produk}} Telah ditambahkan kedalam Daftar Keinginan Anda.<br><br>
                    <div style="text-align:center">
                    <button type="button" class="btn btn-primary" style="background: black"  (click)="daftarKeinginanModal.hide()">Oke</button>
                  </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>

      <!--BAGIAN TAB-->
      <div class="row">
        <tabset [justified]="true">
          <tab heading="Rincian" style="height:150px">
            <label>Kode Produk: </label>{{detailProduk.kode_produk}}<br>
            <label>Sisa Stok: </label>{{detailProduk.stok}}<br>
          </tab>
          <tab heading="Detail Ukuran" style="height:150px">
            Detail Ukuran
          </tab>
          <tab heading="Review" style="height:150px">
            <!-- Left-aligned -->
              <div class="media" style="padding-top:10px">
              <div class="media-left">
                <img src="img_avatar1.png" class="media-object" style="width:60px">
              </div>
              <div class="media-body">
                <h4 class="media-heading">John Doe</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
              </div>
          </tab>
          <tab heading="Kebijakan Pengembalian" style="height:150px">
            Kebijakan Pengembalian
          </tab>
          <tab heading="Info Pengembalian" style="height:150px">
            Info Pengembalian
          </tab>
        </tabset>
      </div>
      <div>
        <button type="button" class="btn btn-primary" (click)="goBack()">Kembali</button>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
