
  <div class="container" style="padding-top:50px">
    <h2>{{title}}</h2>
    <div *ngIf="detailProduk">

      <!--BAGIAN GAMBAR DAN DETIL PRODUK-->
      <div class="row">
        <h2>{{detailProduk.nama_produk}}</h2>
        <div class="col-sm-4">
          <img [src]="detailProduk.gambar" class="img-responsive center-block"/>
        </div>
        <div class="col-sm-4">
          <label>Harga: Rp.{{harga}}</label><br>
          <label>Deskripsi Produk: </label>{{detailProduk.deskripsi_produk}}
        </div>
        <div class="col-sm-4">
          <button type="button" class="btn btn-primary" [routerLink]="['/pesanan']">Masukkan ke Pesanan</button>
            <button type="button" class="btn btn-primary" (click)="addToWishlist(detailProduk.kode_produk,'cendzpm@gmail.com');daftarKeinginanModal.show()">Tambahkan ke Keinginan</button>
            <div bsModal #daftarKeinginanModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title pull-left">Wishlist</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="daftarKeinginanModal.hide()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    {{detailProduk.nama_produk}} Telah ditambahkan kedalam Daftar Keinginan Anda.
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>

      <!--BAGIAN TAB-->
      <div class="row">
        <tabset [justified]="true">
          <tab heading="Rincian" style="height:150px">
            <label>Kode Produk: </label>{{detailProduk.kode_produk}}<br>
            <label>Sisa Stok: </label>{{detailProduk.stok}}<br>
          </tab>
          <tab heading="Detail Ukuran" style="height:150px">
            Detail Ukuran
          </tab>
          <tab heading="Review" style="height:150px">
            Review
          </tab>
          <tab heading="Kebijakan Pengembalian" style="height:150px">
            Kebijakan Pengembalian
          </tab>
          <tab heading="Info Pengembalian" style="height:150px">
            Info Pengembalian
          </tab>
        </tabset>
      </div>
      <div>
        <button type="button" class="btn btn-primary" (click)="goBack()">Back</button>
      </div>
    </div>
  </div>
