<div class="container" style="padding-top:10px">
  <div class="row">
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-11"><h1>INFORMASI KONTAK</h1></div>
        <div class="col-sm-1" style="padding-top:20px"><button type="button" class="btn btn-primary">Ubah</button></div>
      </div>
      <div *ngIf="pelanggan">
        <table class="table table-condensed">
          <tbody>
            <tr>
              <td>Nama</td>
              <td>: {{pelanggan.nama_lengkap}}</td>
            </tr>
            <tr>
              <td>Tanggal Lahir:</td>
              <td>: {{pelanggan.tanggal_lahir}}</td>
            </tr>
            <tr>
              <td>Nomor Telepon</td>
              <td>: {{pelanggan.nomor_hp}}</td>
            </tr>
            <tr>
              <td>Posel</td>
              <td>: {{pelanggan.email}}</td>
            </tr>
            <tr>
              <td>Kata Sandi</td>
              <td><input type="password" value="{{pelanggan.kata_sandi}}" class="form-control" readonly></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
