<div class="container" style="padding-top:90px">
  <div class="row">
    <div class="col-sm-3">
      <h1>Profil</h1>
      <nav class="navbar navbar-default navbar-fixed-side">
        <ul class="nav nav-pills nav-stacked">
          <li [routerLinkActive]="['active']"><a [routerLink]="['akun-saya']">AKUN SAYA</a></li>
          <li [routerLinkActive]="['active']"><a [routerLink]="['daftar-keinginan']">KEINGINAN</a></li>
          <li [routerLinkActive]="['active']"><a [routerLink]="['daftar-pesanan']">PESANAN</a></li>
          <li [routerLinkActive]="['active']"><a [routerLink]="['riwayat-transaksi']">RIWAYAT TRANSAKSI</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-sm-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
